In [7]:
import pandas as pd
import sqlite3
import os

In [8]:
os.chdir(r"C:\Users\GopinathPandit\OneDrive - ConcertAI\Python\Python_Practice\banking_project")

In [9]:
conn = sqlite3.connect("bank.db")

In [10]:
cur = conn.cursor()

In [ ]:
query = cur.execute("select * from ")

In [11]:
query = """select * from customers"""

In [14]:
df = pd.read_sql_query(query, conn)

In [15]:
df

,account_number,first_name,last_name,age,balance,interest_rate,interest_type
0,1000,Gopi,Pandit,31,150000.0,5.0,simple
1,1001,Anupam,Pandit,18,0.0,0.0,simple
2,1014,Gopi,Pandit,31,80000.0,4.0,compound

In [16]:
query2 = """select * from transactions"""

In [17]:
df2 = pd.read_sql_query(query2, conn)

In [18]:
df2

,txn_id,account_number,transaction_type,amount,transaction_date
0,1718648348173,1000,deposit,10000.0,2024-06-17 23:49:08
1,1718649154199,1002,deposit,50000000.0,2024-06-18 00:02:34
2,1718649204313,1008,deposit,100000.0,2024-06-18 00:03:24
3,1718649463646,1001,deposit,80000.0,2024-06-18 00:07:43

In [19]:
from database.db import get_customer

In [24]:
df = get_customer(1001)

In [27]:
df.hide_index()

AttributeError: 'DataFrame' object has no attribute 'hide_index'